<div class="main">
  <div class="problem-section scrollable">
    <h2 class="title">69. Reverse Array without extra space</h2>
    <div class="problem-statement">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla
      assumenda sapiente optio facilis quis odio officiis! Ea rerum eligendi
      aliquam beatae minus tenetur quasi libero dolores! Officiis iste
      distinctio labore architecto, repellendus repellat culpa nobis id quod
      magni eaque fugit amet quae deserunt, fuga est? Soluta vero aliquam nobis
    </div>
    <h4>Example</h4>
    <div class="example">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga pariatur
      modi tenetur! Corporis iusto quidem enim optio quibusdam natus. Minus
      inventore repudiandae exercitationem distinctio fugit magnam quos
      veritatis, reiciendis similique alias atque, enim quis dolores illum,
      tempora ex provident culpa! Nemo quia, aspernatur eveniet aliquam
      perferendis eaque fugiat porro dolor cupiditate deserunt at asperiores
      vitae iusto repellat hic consequatur modi qui iure assumenda optio,
      obcaecati magni atque quas. Quis veritatis harum, aliquam expedita,
      quibusdam mollitia aperiam quos dolor, placeat voluptatem error officiis
      tempora beatae laborum repellendus itaque non aliquid laudantium
      architecto reprehenderit sed nostrum. Perspiciatis exercitationem fugit
      nostrum. Dignissimos, modi.
    </div>

    <h4>Sample testcases</h4>
    <div class="sample-testcases">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas
      asperiores aperiam amet beatae fugit. Explicabo iure dignissimos minima
      praesentium vel veniam neque tempore, fuga eaque hic assumenda ipsum rem
      accusamus sunt enim. Sunt exercitationem nostrum harum id dolore a labore
      alias obcaecati temporibus doloremque architecto nobis sed, placeat, optio
      deserunt dolorum facilis. Eaque ratione non magni laudantium esse,
      adipisci reprehenderit vel modi quia! Quidem doloremque voluptates aliquid
      itaque ipsam dolorum omnis fuga optio, cum, ad quia iste iusto libero
      accusantium impedit, cumque velit. Sed vero quam eveniet veritatis, nihil
      similique dolore at quo ducimus incidunt! Unde facere minima accusamus
      eveniet.
    </div>

    <h4>Constraints</h4>
    <div class="constraints">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente tempora
      commodi incidunt dolorum aliquid et sequi obcaecati, quo ut fugiat. Odio
      itaque iste ullam reprehenderit dolores debitis voluptas, aspernatur
      temporibus, culpa ipsam repellendus sed labore libero voluptate neque quas
      mollitia error blanditiis at, saepe atque facilis possimus! Facere, dolore
      repellendus.
    </div>

    <h4>Other notes</h4>
    <div class="notes">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ipsam ullam
      ipsa, nihil, iusto unde qui nostrum mollitia hic excepturi quidem! Unde,
      asperiores autem quod adipisci, odio eos expedita at ratione perferendis
      totam quisquam voluptate officiis eaque quam et quibusdam vero nesciunt
      iste? Iusto nostrum quisquam ipsum culpa id adipisci?
    </div>
  </div>

  <div class="solution-section scrollable">
    <div>
      <p>Language :</p>
      <select (change)="onChangeLanguage($event)">
        <option *ngFor="let lang of langs" value="{{ lang }}">
          {{ lang }}
        </option>
      </select>
    </div>
    <div class="code-editor" #editor></div>
    <div class="compiler">
      <div class="compiler-buttons">
        <button class="btn blue-button" (click)="judgeCode()">Compile</button>
        <button class="btn green-button">Submit</button>
      </div>
    </div>
  </div>
</div>
